body, ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
  font-family: "苹方","HanHei SC",sans-serif;
}

a {
  text-decoration: none;
  color: #555;
}
@import "mains";
.light-box{
  width:100%;
  height:670px;
  background:#000;
  overflow:hidden;
  position: relative;
  .light{
    width:300px;
    height:300px;
    border-radius:50%;
    box-shadow:0 0 100px 20px white;
    background:url(../img/bg3.jpg) no-repeat center center/100% 100% fixed;
    position:absolute;
    left:5px;
    top:5px;
    transition: transform 2.8s ease .2s;
    &.active{
      transform: scale(0.8,0.8);
    }
  }
}
.nr-box{
  width:100%;
  height:670px;
  background:black;
  position: absolute;
  top:0;
  left:0;
  opacity:0;
  transition: opacity 2.8s ease;
  &.active{
    opacity: 1;
  }
}
.nr{
  display: block;
  width:100%;
  height:100%;
  background:url(../img/bg3.jpg) no-repeat center center;
  .nr-inner{
    width:1200px;
    height:44px;
    margin: 0 auto;
    background:rgba(0,0,0,0.5);
    position: fixed;
    left:0;
    right:0;
    z-index:999;
    &::before{
      content: '';
      width:50%;
      height:100%;
      float: left;
      color: #fff;
      line-height:44px;
      font-weight: 700;
      text-align: left;
      font-size:17px;
      margin:0;
    }
    a{
      float: left;
      width:10%;
      height:100%;
      color: #fff;
      line-height:44px;
      box-sizing: border-box;
      font-weight: 700;
      text-align: center;
      font-size:14px;
      margin:0;
      transition:1s;
      &:hover{
        text-shadow: 0 0 .1em, 0 0 .3em;
      }
    }
  }
  .nr-inner1{
    width:100%;
    height:400px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: 200px auto 0;
    line-height: 80px;
    text-align: center;
    h1{
      .wz{
        font-size:40px;
        color: #fff;
        transition: 2s;
        &.active{
          text-shadow: 0 0 .1em, 0 0 .3em;
        }
      }
    }
    .wz1{
      font-size:30px;
      line-height: 60px;
      color: #fff;
      transition: 2s;
      &.active{
        color: transparent;
        text-shadow: 0 0 .1em white, 0 0 .3em white;
      }
    }
  }
  .yuan{
    width:60px;
    height:60px;
    border-radius: 50%;
    position: relative;
    left:0;
    right:0;
    bottom:0;
    margin: 50px auto 0;
    overflow:hidden;
    .yuan-inner{
      width:100%;
      height:160px;
      position:absolute;
      &::before{
        content: '';
        width:100%;
        height:60px;
        float: left;
        background:url(../img/list4.png) no-repeat center center/45px auto;
      }
      .yuan-inner-a{
        width:100%;
        height:60px;
        float: left;
        background:url(../img/list4.png) no-repeat center center/45px auto;
      }
    }
  }
}
@media screen and (max-width:1200px) {
  .light-box {
    width: 100%;
    height: 670px;
    background: black;
    overflow: hidden;
    .light {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      box-shadow: 0 0 50px 5px white;
      background: url(../img/phone1.jpg) no-repeat center center content-box fixed;
      position: absolute;
      left: 5px;
      top: 5px;
      transition: transform 2.8s ease .2s;
      &.active {
        transform: scale(0.8, 0.8);
      }
    }
  }
  .nr{
    display: block;
    width:100%;
    height:100%;
    background:url(../img/phone1.jpg) no-repeat center center;
    .nr-inner{
      width:100%;
      height:60px;
      margin: 0 auto;
      background:rgba(0,0,0,0.5);
      position:fixed;
      left:0;
      right:0;
      z-index:999;
      &::before{
        content: '';
        width:0;
        height:100%;
        float: left;
        color: #fff;
        line-height:60px;
        font-weight: 700;
        text-align: left;
        font-size:24px;
        margin:0;
      }
      a{
        float: left;
        width:20%;
        height:100%;
        color: #fff;
        line-height:60px;
        box-sizing: border-box;
        font-weight: 700;
        text-align: center;
        font-size:24px;
        margin:0;
        transition:1s;
        &:hover{
          text-shadow: 0 0 .1em, 0 0 .3em;
        }
      }
    }
    .nr-inner1{
      width:100%;
      height:100%;
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin: 200px auto 0;
      line-height: 80px;
      text-align: center;
      h1{
        .wz{
          font-size:40px;
          color: #fff;
          transition: 2s;
          &.active{
            text-shadow: 0 0 .1em, 0 0 .3em;
          }
        }
      }
      .wz1{
        font-size:30px;
        line-height: 60px;
        color: #fff;
        transition: 2s;
        &.active{
          color: transparent;
          text-shadow: 0 0 .1em white, 0 0 .3em white;
        }
      }
    }
    .yuan{
      width:60px;
      height:60px;
      border-radius: 50%;
      position: relative;
      left:0;
      right:0;
      bottom:0;
      margin: 50px auto 0;
      overflow:hidden;
      .yuan-inner{
        width:100%;
        height:160px;
        position:absolute;
        &::before{
          content: '';
          width:100%;
          height:60px;
          float: left;
          background:url(../img/list4.png) no-repeat center center/45px auto;
        }
        .yuan-inner-a{
          width:100%;
          height:60px;
          float: left;
          background:url(../img/list4.png) no-repeat center center/45px auto;
        }
      }
    }
  }
}

//小屏
@media screen and (max-width:800px){
  .nr{
    display: block;
    width:100%;
    height:100%;
    background:url(../img/phone1.jpg) no-repeat center center;
    .nr-inner{
      width:100%;
      height:60px;
      margin: 0 auto;
      background:rgba(0,0,0,0.5);
      position: fixed;
      left:0;
      right:0;
      z-index:999;
      &::before{
        content: '';
        width:0;
        height:100%;
        float: left;
        color: #fff;
        line-height:60px;
        font-weight: 700;
        text-align: left;
        font-size:24px;
        margin:0;
      }
      a{
        float: left;
        width:20%;
        height:100%;
        color: #fff;
        line-height:60px;
        box-sizing: border-box;
        font-weight: 700;
        text-align: center;
        font-size:24px;
        margin:0;
        transition:1s;
        &:hover{
          text-shadow: 0 0 .1em, 0 0 .3em;
        }
      }
    }
    .nr-inner1{
      width:100%;
      height:400px;
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin: 200px auto 0;
      line-height: 80px;
      text-align: center;
      h1{
        .wz{
          font-size:40px;
          color: #fff;
          transition: 2s;
          &.active{
            text-shadow: 0 0 .1em, 0 0 .3em;
          }
        }
      }
      .wz1{
        font-size:30px;
        line-height: 60px;
        color: #fff;
        transition: 2s;
        &.active{
          color: transparent;
          text-shadow: 0 0 .1em white, 0 0 .3em white;
        }
      }
    }
    .yuan{
      width:60px;
      height:60px;
      border-radius: 50%;
      position: relative;
      left:0;
      right:0;
      bottom:0;
      margin: 50px auto 0;
      overflow:hidden;
      .yuan-inner{
        width:100%;
        height:160px;
        position:absolute;
        &::before{
          content: '';
          width:100%;
          height:60px;
          float: left;
          background:url(../img/list4.png) no-repeat center center/45px auto;
        }
        .yuan-inner-a{
          width:100%;
          height:60px;
          float: left;
          background:url(../img/list4.png) no-repeat center center/45px auto;
        }
      }
    }
  }
  .light-box{
    .light{
      width:300px;
      height:300px;
    }
  }
  .nr{
    .nr-inner{
      &::before{
        width:100%;
        height:50px;
        margin:5px;
        background:url(../img/list1.png) no-repeat left center;
        position: relative;
        z-index: 1;
      }
      a{
        width:20%;
        height:44px;
        line-height: 50px;
        float:left;
        opacity:0;
        transform:translate3d(0,-50px,0);
        transition: opacity 1.8s ease,transform .8s ease;
        background:rgba(0,0,0,0.3);
        &.active{
          opacity:1;
          transform:translate3d(0,0,0);
        }
      }
    }
    .nr-inner1{
      h1{
        .wz{
          font-size:30px;
        }
      }
      .wz1{
        font-size:20px;
      }
    }
  }
}

////////////////////////////////////////////关于我///////////////////////////////
.aboutMe0{
  width:100%;
  height:680px;
  background: #000;
}
.aboutMe{
  width:100%;
  height:100%;
  position: relative;
  //background: url(../img/1121.png) no-repeat center center/100% 100% fixed;
  background: #2d4569;
  h1{
    width:100%;
    height:80px;
    position: absolute;
    top:80px;
    left:0;
    z-index: 10;
    font-size:40px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px hsl(0,0%,85%),
    0 2px hsl(0,0%,80%),
    0 3px hsl(0,0%,75%),
    0 4px hsl(0,0%,70%),
    0 5px hsl(0,0%,65%),
    0 5px 10px black;;
  }
}
$nr:(
  "education","age","location","status"
);
@each $v in $nr{
  .aboutMe-inner a .#{$v}{
    background: url("../img/" + $v + ".png") no-repeat center center;
  }
};
.aboutMe-box{
  width:800px;
  height:200px;
  border-radius:8px;
  overflow: hidden;
  @include center;
  top:-80px;
  .aboutMe-inner{
    width:25%;
    height:100%;
    box-sizing:border-box;
    float: left;
    background: rgba(255,255,255,0.2);
    a{
      display: block;
      @include yuan(100px);
      background: #fff;
      box-sizing:border-box;
      margin:12% 25% 0;
      padding:5px;
      span{
        @include yuan(90px);
        display:block;
        transition: transfrom 1.8s ease;
        &:hover{
          transform:scale(1.2,1.2);
        }
      }
    }
    p{
      width:100%;
      height:60px;
      line-height:60px;
      text-align: center;
      color:white;
      text-shadow: 0 0 1px black, 0 0 1px black,
      0 0 1px black, 0 0 1px black,
      0 0 1px black, 0 0 1px black;
      font-size:20px;
      cursor: pointer;
      &:hover{
        transform:scale(1.2,1.2);
      }
    }
  }
}
.me{
  width:800px;
  height:200px;
  @include left-right;
  left:0;
  bottom:5px;
  p{
    width:100%;
    height:60px;
    text-align:center;
    line-height: 60px;
    color: #fff;
    font-size:14px;
  }
  .me-bg{
    width:100%;
    height:100%;
    position: relative;
    span{
      display: block;
      width:45px;
      height:5px;
      position: absolute;
      top:0;
      left:5px;
      background: rgba(255,255,255,0.5);
    }
    .bg-right{
      width:5px;
      height:45px;
      left:795px;
      top:150px;
    }
    .bg-left{
      left:0;
      width:5px;
      height:50px;
    }
    .bg-bottom{
      width:50px;
      height:5px;
      left:750px;
      top:195px;
    }
  }
}
///////////////////中屏
@media screen and (max-width:1200px){
  .aboutMe0{
    width:100%;
    height:1000px;
    background: #000;
    overflow: hidden;
  }
  .aboutMe-box{
    width:80%;
    height:400px;
    .aboutMe-inner{
      width:50%;
      height:50%;
      box-sizing: border-box;
      border:1px solid #000;
      .aboutMe-inner{
        p{
          font-size:34px;
          height:auto;
        }
      }
    }
  }
  .me{
    width:80%;
    border: 10px solid hsla(0,0%,100%,.1);
    height:auto;
    margin-bottom:10px;
    p{
      font-size:28px;
      height:auto;
    }
    .me-bg span{
      display: none;
    }
  }
}
////////////////////////////////////////////////////////小屏幕///////////////////////////////////
@media screen and (max-width:857px){
  .aboutMe0{
    width:100%;
    height:1200px;
    background: #000;
    overflow: hidden;
  }
  .aboutMe{
    height:1200px;
  }
  .aboutMe-box{
    width:80%;
    height:400px;
    top:-260px;
    .aboutMe-inner{
      width:100%;
      height:25%;
      box-sizing: border-box;
      padding: 10px;
      border:1px solid #000;
      a{
        @include yuan(80px);
        background: #fff;
        margin:0;
        box-sizing:border-box;
        padding:5px;
        float:left;
        span{
          @include yuan(70px);
          display:block;
          transition: transfrom 1.8s ease;
          &:hover{
            transform:scale(1.2,1.2);
          }
        }
      }
      p{
        width:60%;
        height:100%;
        line-height:100px;
        text-align: center;
        color:white;
        text-shadow: 0 0 1px black, 0 0 1px black,
        0 0 1px black, 0 0 1px black,
        0 0 1px black, 0 0 1px black;
        font-size:34px;
        cursor: pointer;
        float:left;
        &:hover{
          transform:scale(1.2,1.2);
        }
      }
    }
  }
  .me{
    width:80%;
    height:auto;
    border: 10px solid hsla(0,0%,100%,.1);
    p{
      font-size:34px;
      height:auto;
    }
    .me-bg span{
      display: none;
    }
  }
}
///////////////////////////////////////////////////////skill//////////////////////////////////////////////////
.skill{
  width:100%;
  height:680px;
  background:#c7d8e2;
}
.skill-box {
  width: 100%;
  height: 100%;
  background: url(../img/1121.png) no-repeat center center/100% 100% fixed;
  .skill-inner {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
  }
}
.skill-box h1{
    width:100%;
    height:120px;
    line-height: 160px;
    text-align: center;
    color: #162133;
    font-size:30px;
  }
.skill-inner p{
  width: 100%;
  height:60px;
  padding: 0 20px;
  box-sizing:border-box;
  line-height: 30px;
  color: #c7d8e2;
  font-size:20px;
  text-align: center;
  font-weight:600;
}
  .skill-nr{
    width:1200px;
    height:400px;
    background:rgba(0,0,0,0.5);
    margin:50px auto 0;
    position: relative;
    overflow: hidden;
  }
  .skill-nr1{
    width:3000px;
    height:100%;
    position: absolute;
  }
  .skill-nr-box {
    width:auto;
    height:100%;
    float: left;
    li{
      width:300px;
      height:100%;
      float:left;
      a{
        width:100%;
        height:60%;
        display:block;
        &.active{
          transform:scale(1.2,1.2);
        }
      }
      span{
        padding:20px;
        box-sizing: border-box;
        width:100%;
        height:40%;
        display: block;
        text-align: center;
        line-height: 1.5em;
        color: #162133;
        &.active{
          color: white;
          text-shadow: 1px 1px black, -1px -1px black,
          1px -1px black, -1px 1px black;
        }
      }
    }
  }
$skill:(
        "css","node","phpcms","ajax","css3","html5","ps","jquery","js","html"
);
@each $v in $skill{
  .skill-nr-box .#{$v}{
    background: url("../img/" + $v + ".png") no-repeat center center;
  }
};
//////////////////////////////中屏幕////////////////////////////////////////////////////////////////////
@media screen and (max-width:1200px) {
  .skill {
    width: 100%;
    height: 850px;
    background: #000;
    p{
      height:auto;
      padding: 0 10px;
      box-sizing: border-box;
      font-size:24px;
    }
    .skill-nr{
      width:80%;
      border-radius: 8px;
    }
  }
}
p{
  width: 100%;
  height:60px;
  line-height: 30px;
  color: #162133;
  font-size:24px;
  text-align: center;
  font-weight:600;
}
///////////////////////////////////////////////////////作品展示////////////////////////////////////////////
.design{
  width:100%;
  height:auto;
  //background: url(../img/1121.png) no-repeat center center/100% 100% fixed;
  background: #034565;
}
.design1{
  width:1200px;
  height:auto;
  margin:0 auto;
  //background:url(../img/skills-bg.jpg) no-repeat center center;
  h1{
    width:100%;
    height:100px;
    text-align: center;
    box-sizing: border-box;
    padding-top:20px;
    line-height: 2em;
    color: white;
    text-shadow: 0 0 .1em, 0 0 .1em;
    span{
      color: white;
      text-shadow: 0 1px hsl(0,0%,85%),
      0 2px hsl(0,0%,80%),
      0 3px hsl(0,0%,75%),
      0 4px hsl(0,0%,70%),
      0 5px hsl(0,0%,65%);
      font-size:36px;
    }
  }
  //最后bottom间距
  &::after{
    content: '';
    width:100%;
    height:50px;
    display: block;
  }
}
  $works:(
          "nav11","nav2","nav3","nav4","nav5","nav66","nav7"
  );
  $works1:(
          "nav1","nav2","nav3","nav4","nav5","nav6","nav7"
  );
  @each $v in $works{
    .design-inner .#{$v}{
      background: url("../img/" + $v + ".png") no-repeat center center border-box content-box;
    }
  };
  @each $v in $works1{
    .shade li .#{$v}{
      background: url("../img/" + $v + ".png") no-repeat center center border-box content-box;
    }
  };
  .design-box{
    width:100%;
    height:auto;
    overflow: hidden;
    position: relative;
    .btn{
      @include center;
      width:50%;
      height:0;
      z-index: 100;
      opacity: 0;
      transition:opacity .8s ease;
      &.active{
        opacity: 1;
      }
      .left,.right{
        width:54px;
        height:54px;
        float: left;
        background: url(../img/btnPrevious.png) no-repeat center center;
      }
      .right{
        float: right;
        background: url(../img/btnNext.png) no-repeat center center;
      }
    }
    .li-box{
      width:100%;
      height:200px;
      margin:0 auto;
      background:rgba(0,0,0,0.2);
    }
    li{
      width:33.33%;
      height:100%;
      position: absolute;
      top:0;
      left:-500px;
      background-blend-mode: luminosity;
      transition:background-color .8s ease,transform .5s ease;
      &.active{
        transform:rotate3d(1,0,0,360deg);
        background: rgba(0,0,0,0.5);
      }
      a{
        width:90%;
        display: block;
        @include center;
        height:100%;
        background:url(../img/nav1.png) no-repeat center center/100px 100px;
        z-index: 50;
        transform:scale(0.5,0.5);
        transition: transform .8s ease;
        &.active{
          transform:scale(1,1);
        }
      }
    }
  }
  .works{
    width:100%;
    height:auto;
    .shade0{
      width:100%;
      height:100px;
      box-sizing: border-box;
      padding: 30px 0 0;
      span{
        color: #fff;
        font-size:16px;
        text-align: center;
        background: rgba(0,0,0,0.5);
        border-radius: 4px;
        display: block;
        width:90px;
        padding:10px 10px;
        height:40px;
        float: left;
        box-sizing: border-box;
        cursor: pointer;
        margin-right:10px;
        &.active{
          background:rgba(0,0,255,0.8);
        }
      }
    }
    .shade{
      width:100%;
      height:300px;
      z-index:51;
      position: relative;
      transition: height .8s ease;
      &.active{
        height:600px;
      }
      li{
        width:100%;
        height:300px;
        position: absolute;
        top:0;
        left:0;
        transition:transform .8s ease;
        transform: scale(0,0);
        &.active{
          transform: scale(1,1);
        }
      }
      .yt,.yx,.yy{
        width:300px;
        height:300px;
        float: left;
      }
      a{
        width:280px;
        display: block;
        height:280px;
        margin: 15px;
        float: left;
        color: #fff;
        font-size: 24px;
        text-align: center;
        line-height: 200px;
        box-sizing: border-box;
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
      }
      span{
        font-size:24px;
        text-align: center;
        background: rgba(0,0,0,0.5);
        display: block;
        width:100%;
        height:100%;
        float: left;
        z-index: 60;
        box-sizing: border-box;
        cursor: pointer;
        margin-right:10px;
        transition: opacity .8s ease,transform .3s ease,background-color .5s ease;
        background-blend-mode: luminosity  ;
        &:hover{
          transform: rotate3d(0,0,1,360deg);
          background: hsl(600, 50%, 50%);
          opacity:0.5;
        }
      }
    }
  }
.works1{
  display: none;
}
//////////////////////////////中屏幕//////////////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width:1200px) {
  .design{
    background: #034565;
  }
  .design1{
    width:80%;
    height:auto;
    margin:0 auto;
    h1{
      width:100%;
      height:100px;
      text-align: center;
      box-sizing: border-box;
      padding-top:20px;
      line-height: 2em;
      color: white;
      text-shadow: 0 0 .1em, 0 0 .1em;
      span{
        color: white;
        text-shadow: 0 1px hsl(0,0%,85%),
        0 2px hsl(0,0%,80%),
        0 3px hsl(0,0%,75%),
        0 4px hsl(0,0%,70%),
        0 5px hsl(0,0%,65%);
        font-size:36px;
      }
    }
  }
  @each $v in $works{
    .design-inner .#{$v}{
      background: url("../img/" + $v + ".png") no-repeat center center/400px 400px;
    }
  };
  @each $v in $works1{
    .works1 .#{$v}{
      background: url("../img/" + $v + ".png") no-repeat center center/400px 400px;
    }
  };
  .design-box{
    width:100%;
    height:auto;
    overflow: hidden;
    position: relative;
    .btn{
      @include center;
      width:50%;
      height:0;
      z-index: 100;
      opacity: 0;
      transition:opacity .8s ease;
      &.active{
        opacity: 1;
      }
      .left,.right{
        width:54px;
        height:54px;
        float: left;
        background: url(../img/btnPrevious.png) no-repeat center center;
      }
      .right{
        float: right;
        background: url(../img/btnNext.png) no-repeat center center;
      }
    }
    .li-box{
      width:100%;
      height:400px;
      margin:0 auto;
      background:rgba(0,0,0,0.2);
    }
    li{
      width:33.33%;
      height:100%;
      position: absolute;
      top:0;
      left:-500px;
      background-blend-mode: luminosity;
      transition:background-color .8s ease,transform .5s ease;
      &.active{
        transform:rotate3d(1,0,0,360deg);
        background: rgba(0,0,0,0.5);
      }
      a{
        width:90%;
        display: block;
        @include center;
        height:100%;
        background:url(../img/nav1.png) no-repeat center center/100px 100px;
        z-index: 50;
        transform:scale(0.5,0.5);
        transition: transform .8s ease;
        &.active{
          transform:scale(1,1);
        }
      }
    }
  }
  .works{
    display: none;
  }
  .works1{
    display: block;
    width:100%;
    height:3600px;
    div{
      width:100%;
      height:500px;
      position: relative;
      margin:20px auto;
      a{
        position: absolute;
        left:50%;
        margin-left:-240px;
        width:480px;
        display: block;
        height:480px;
        color: #fff;
        font-size: 24px;
        text-align: center;
        box-sizing: border-box;
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
      }
      span{
        line-height: 40px;
        font-size:24px;
        text-align: center;
        display: block;
        width:100%;
        height:100%;
        float: left;
        z-index: 60;
        box-sizing: border-box;
        cursor: pointer;
        margin-right:10px;
        transition: opacity .8s ease,transform .3s ease,background-color .5s ease,line-height .4s ease;
        background-blend-mode: luminosity  ;
        &:hover{
          transform: rotate3d(0,0,1,360deg);
          background: hsl(600, 50%, 50%);
          opacity:0.5;
          line-height: 200px;
        }
      }
    }
  }
}
/////////////////////////////////////////联系我//////////////////////////////////////////////////////////////////////
.footer{
  width:100%;
  height:200px;
  background:url(../img/n.jpg)left center;
  .footer-box{
    width:100%;
    height:100%;
    &::before{
      content: '';
      width:40%;
      height:100%;
      float: left;
    }
    .call{
      width:30%;
      height:100%;
      float:left;
      position: relative;
      overflow: hidden;
      .callBtn {
        width:120px;
        height:70px;
        border-radius:8px;
        background:rgba(0,0,0,1);
        @include center;
        left:50px;
        bottom:-60px;
        text-align:center;
        line-height:70px;
        color:#fff;
        animation:left 1.8s linear 0s infinite both;
        cursor: pointer;
        display: block;
        z-index: 100;
        opacity: 1;
        transition:opacity 3.8s ease;
        &.active{
          opacity:0.8;
        }
      }
      .qq,.wx,.yx{
        width:60px;
        height:60px;
        display:block;
        position: absolute;
        transform: translate3d(100px,30px,0);
        background: url(../img/qq.png) no-repeat center center/60px 60px;
        transition: transform .8s ease .3s;
        &.active{
          transform: translate3d(180px,100px,0);
        }
      }
      .yx{
        background: url(../img/yx.png) no-repeat center center/60px 60px;
        transition: transform .8s ease .5s;
        transform: translate3d(200px,0,0);
      }
      .wx{
        background: url(../img/wx.png) no-repeat center center/60px 60px;
        transform: translate3d(300px,30px,0);
        transition: transform .8s ease .7s;
      }
    }
    @keyframes left {
      0%{
        transform: translate3d(10px,0,0);
      }
      100%{
        transform: translate3d(0,0,0);
      }
    }
    .contact{
      width:30%;
      height:100%;
      float:left;
      a{
        display: block;
        width:50%;
        height:100%;
        background: url(../img/me.png) no-repeat center center/150px 150px;
        float: left;
      }
      span{
        display:block;
        width:auto;
        height:60px;
        font-size:16px;
        float: left;
        text-align: left;
        line-height: 60px;
        margin-top:50px;
        color: #fff;
        border-radius: 8px;
        box-shadow:0 0 3px 5px rgba(0,0,0,0.5);
        animation:left 4.8s linear 0s infinite backwards;
        b{
          font-size: 18px;
          color: #ffc;
          text-shadow: 0 0 .1em, 0 0 .3em;
        }
      }
    }
  }
}
@media screen and (max-width:1200px) {
  .footer{
    width:100%;
    height:300px;
    .footer-box{
      width:100%;
      height:100%;
      &::before{
        content: '';
        width:0;
        height:0;
      }
      .call{
        width:50%;
        height:100%;
        float:left;
        position: relative;
        overflow: hidden;
        .callBtn {
          width:120px;
          height:70px;
          border-radius:8px;
          background:rgba(0,0,0,1);
          @include center;
          left:50px;
          bottom:-60px;
          text-align:center;
          line-height:70px;
          color:#fff;
          animation:left 1.8s linear 0s infinite both;
          cursor: pointer;
          display: block;
          z-index: 100;
          opacity: 1;
          transition:opacity 3.8s ease;
          &.active{
            opacity:0.8;
          }
        }
        .qq,.wx,.yx{
          width:60px;
          height:60px;
          display:block;
          position: absolute;
          transform: translate3d(100px,30px,0);
          background: url(../img/qq.png) no-repeat center center/60px 60px;
          transition: transform .8s ease .3s;
          &.active{
            transform: translate3d(-100px,0,0);
          }
        }
        .yx{
          background: url(../img/yx.png) no-repeat center center/60px 60px;
          transition: transform .8s ease .5s;
          transform: translate3d(30px,0,0);
        }
        .wx{
          background: url(../img/wx.png) no-repeat center center/60px 60px;
          transform: translate3d(50px,100px,0);
          transition: transform .8s ease .7s;
        }
      }
      .contact{
        width:auto;
        height:100%;
        float:left;
        a{
          display: block;
          width:150px;
          height:150px;
          background: url(../img/me.png) no-repeat center center/150px 150px;
          float: left;
        }
        span{
          display:block;
          width:auto;
          height:60px;
          font-size:24px;
          float: left;
          text-align: left;
          line-height: 60px;
          margin-top:50px;
          color: #fff;
          border-radius: 8px;
          box-shadow:0 0 3px 5px rgba(0,0,0,0.5);
          animation:left 4.8s linear 0s infinite backwards;
          b{
            font-size: 24px;
            color: #ffc;
            text-shadow: 0 0 .1em, 0 0 .3em;
          }
        }
      }
    }
  }
}
@media screen and (max-width:800px) {
  .footer .footer-box .contact span{
    display: none;
  }
}