@charset "UTF-8";
body, ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px; }

a {
  text-decoration: none;
  color: #555; }

/**
 * Yo框架动画解决方案
 * Yo内置了超过60种动画形态，不同的动画可以任意组合
 */
.ani {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.ani.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/**
 * @module speed
 * @description 定义从左侧放大进入动画
 * @method speed-in-left
 */
@-webkit-keyframes zoom-in-left {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoom-in-left {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.ani.zoom-in-left {
  -webkit-animation-name: zoom-in-left;
  animation-name: zoom-in-left; }

.header-box {
  width: 100%;
  height: 600px;
  background: url(../img/9.jpg) center center;
  position: relative;
  cursor: pointer; }
  .header-box .wz-box {
    width: 500px;
    height: auto;
    position: absolute;
    top: 40%;
    right: 10%;
    overflow: hidden; }
  .header-box p {
    position: relative;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    text-align: left;
    color: #fff;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    transform: translate3d(100%, 0, 0); }
    .header-box p.wz-inner {
      transform: translate3d(0, 0, 0); }

p:nth-child(1) {
  transition: transform 0.8s ease 0.06667s; }

p:nth-child(2) {
  transition: transform 0.8s ease 0.13333s; }

p:nth-child(3) {
  transition: transform 0.8s ease 0.2s; }

p:nth-child(4) {
  transition: transform 0.8s ease 0.26667s; }

p:nth-child(5) {
  transition: transform 0.8s ease 0.33333s; }

p:nth-child(6) {
  transition: transform 0.8s ease 0.4s; }

p:nth-child(7) {
  transition: transform 0.8s ease 0.46667s; }

h2 {
  font-size: 34px;
  line-height: 1.5;
  font-weight: 700;
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 50px;
  width: 400px;
  height: 50px;
  color: white;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  opacity: 0;
  transition: opacity .8s ease; }
  h2.ani {
    opacity: 1; }

.wz-box2 {
  width: 500px;
  height: 500px;
  background: url(../img/ren.png) no-repeat center center/500px 500px;
  cursor: pointer;
  position: absolute; }

.wz-shengzi {
  width: 0;
  height: 20px;
  background: url(../img/shengzi.png) center center/10px 20px;
  position: absolute;
  top: 315px; }

.wz-box3 {
  width: 500px;
  height: 50px;
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-shadow: 0 1px #d9d9d9, 0 2px #cccccc, 0 3px #bfbfbf, 0 4px #b3b3b3, 0 5px #a6a6a6, 0 5px 10px black;
  position: absolute;
  top: 40%;
  right: 200px; }
